.scroll-reveal {
  opacity: 0;
  transform: translateY(40px) scale(0.85);
}
.scroll-reveal.scroll-reveal-show {
  animation: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards scroll-reveal;
}

@keyframes scroll-reveal {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.85);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}