.search-page {
  margin-top: 144px;
  margin-bottom: 144px;
}

.search-title {
  margin: 0 0 32px;
  color: var(--color-text-primary);
  font-size: 36px;
  line-height: 1.2;
}

#search {
  --pagefind-ui-primary: var(--color-background-accent);
  --pagefind-ui-text: var(--color-text-primary);
  --pagefind-ui-background: var(--color-background-secondary);
  --pagefind-ui-border: var(--color-border-primary);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: var(--radius-medium);
  --pagefind-ui-image-border-radius: var(--radius-small);
  --pagefind-ui-font: var(--font-sans-serif);
  margin-top: 0;
  margin-bottom: 0;
}
#search .pagefind-ui {
  font-feature-settings: var(--font-sans-serif-feature-settings);
}